src/main/resources/schematron/schema/fox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.og.dti.gov/fox" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.og.dti.gov/fox" xmlns:fm="http://www.og.dti.gov/fox_module" elementFormDefault="qualified" attributeFormDefault="unqualified" version="$Header$">
  <xs:include schemaLocation="fox_common_types.xsd"/>
  <xs:attributeGroup name="zzz-set-out-attr-grp">
    <xs:attribute ref="view" use="optional"/>
    <xs:attribute ref="mode" use="optional"/>
    <xs:attribute ref="promptLayout" use="optional"/>
    <xs:attribute ref="debug" use="optional"/>
    <xs:attribute ref="emptyText" use="optional"/>
    <xs:attribute ref="fieldMaxHeight" use="optional"/>
    <xs:attribute ref="fieldMaxWidth" use="optional"/>
    <xs:attribute ref="fieldMinHeight" use="optional"/>
    <xs:attribute ref="fieldMinWidth" use="optional"/>
    <xs:attribute ref="forceVisible" use="optional"/>
    <xs:attribute ref="mandatoryClass"/>
    <xs:attribute ref="mandatoryStyle"/>
    <xs:attribute ref="actionClass"/>
    <xs:attribute ref="actionStyle"/>
    <xs:attribute ref="promptStyle"/>
    <xs:attribute ref="promptClass"/>
    <xs:attribute ref="nestedClass"/>
    <xs:attribute ref="nestedStyle"/>
    <xs:attribute ref="nestedFormClass"/>
    <xs:attribute ref="nestedFormStyle"/>
    <xs:attribute ref="topLevelFormClass"/>
    <xs:attribute ref="topLevelFormStyle"/>
    <xs:attribute ref="nestedTableClass"/>
    <xs:attribute ref="nestedTableStyle"/>
    <xs:attribute ref="nestedListClass"/>
    <xs:attribute ref="nestedListStyle"/>
    <xs:attribute ref="cellClass"/>
    <xs:attribute ref="cellStyle"/>
    <xs:attribute ref="fieldCellClass"/>
    <xs:attribute ref="fieldCellStyle"/>
    <xs:attribute ref="formCellClass"/>
    <xs:attribute ref="formCellStyle"/>
    <xs:attribute ref="listCellClass"/>
    <xs:attribute ref="listCellStyle"/>
    <xs:attribute ref="formStyle"/>
    <xs:attribute ref="formClass"/>
    <xs:attribute ref="listStyle"/>
    <xs:attribute ref="listClass"/>
    <xs:attribute ref="listRowClass"/>
    <xs:attribute ref="listRowStyle"/>
    <xs:attribute ref="fieldStyle"/>
    <xs:attribute ref="fieldClass"/>
    <xs:attribute ref="keyStyle"/>
    <xs:attribute ref="keyClass"/>
    <xs:attribute ref="style"/>
    <xs:attribute ref="class"/>
    <xs:attribute ref="responsiveList"/>
    <xs:attribute ref="hint"/>
    <xs:attribute ref="hintTitle"/>
    <xs:attribute ref="hint-url"/>
    <xs:attribute ref="hint-buffer"/>
    <xs:attribute ref="hint-buffer-attach"/>
    <xs:attribute ref="default-item-widget"/>
    <xs:attribute ref="default-date-widget"/>
    <xs:attribute ref="default-selector-widget"/>
    <xs:attribute ref="prompt"/>
    <xs:attribute ref="prompt-buffer"/>
    <xs:attribute ref="prompt-buffer-attach"/>
    <xs:attribute ref="widget"/>
    <xs:attribute ref="placeholder"/>
    <xs:attribute ref="searchDisplayHierarchy"/>
    <xs:attribute ref="searchIndentMultiplier"/>
    <xs:attribute ref="searchSuggestionWidth"/>
    <xs:attribute ref="searchSuggestionMaxWidth"/>
    <xs:attribute ref="searchSuggestionMaxHeight"/>
    <xs:attribute ref="searchCaseSensitive"/>
    <xs:attribute ref="searchCharacterThreshold"/>
    <xs:attribute ref="searchTypingTimeout"/>
    <xs:attribute ref="searchSortedOutput"/>
    <xs:attribute ref="searchNoSuggestionsText"/>
    <xs:attribute ref="searchEmptySuggestionsText"/>
    <xs:attribute ref="searchLimitedSuggestionsText"/>
    <xs:attribute ref="searchMandatorySelection"/>
    <xs:attribute ref="searchFreeTextInput"/>
    <xs:attribute ref="searchFreeTextInputMessage"/>
    <xs:attribute ref="searchFreeTextSuggest"/>
    <xs:attribute ref="searchClearFilterOnBlur"/>
    <xs:attribute ref="autoResize"/>
    <xs:attribute ref="autoResizeMaxHeight"/>
    <xs:attribute ref="htmlWidgetConfig"/>
    <xs:attribute ref="collapseColumns"/>
    <xs:attribute ref="layoutMethod"/>
    <xs:attribute ref="formList"/>
    <xs:attribute ref="tightField"/>
    <xs:attribute ref="fieldSpan"/>
    <xs:attribute ref="promptSpan"/>
    <xs:attribute ref="offsetSpan"/>
    <xs:attribute ref="rowBreak"/>
    <xs:attribute ref="rowBreakBefore"/>
    <xs:attribute ref="rowBreakAfter"/>
    <xs:attribute ref="formColumns"/>
    <xs:attribute ref="mandatoryDisplay"/>
    <xs:attribute ref="mandatoryText"/>
    <xs:attribute ref="optionalText"/>
    <xs:attribute ref="accessiblePrompt"/>
    <xs:attribute ref="itemsPerRow"/>
    <xs:attribute ref="enableListsInForms"/>
    <xs:attribute ref="enableFocusHintDisplay"/>
    <xs:attribute ref="key-true"/>
    <xs:attribute ref="key-false"/>
    <xs:attribute ref="key-null"/>
    <xs:attribute ref="key-missing"/>
    <xs:attribute ref="key-unrecognised"/>
    <xs:attribute ref="suppressUnselected"/>
    <xs:attribute ref="descriptionDisplay"/>
    <xs:attribute ref="descriptionLayout"/>
    <xs:attribute ref="downloadAsAttachment"/>
    <xs:attribute ref="namespacePreference"/>
    <xs:attribute ref="descriptionDisplayMode"/>
    <xs:attribute ref="hintDisplayMode"/>
    <xs:attribute ref="mandatoryDisplayMode"/>
    <xs:attribute ref="renderType"/>
    <xs:attribute ref="fieldPrefix"/>
    <xs:attribute ref="fieldSuffix"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="zzz-set-menu-attr-group">
    <xs:attribute ref="mode" use="optional"/>
    <xs:attribute ref="flow" use="optional"/>
    <xs:attribute ref="menuClass" use="optional"/>
    <xs:attribute ref="menuStyle" use="optional"/>
    <xs:attribute ref="menuType" use="optional"/>
    <xs:attribute ref="promptClass"/>
    <xs:attribute ref="promptStyle"/>
    <xs:attribute ref="actionClass"/>
    <xs:attribute ref="actionStyle"/>
    <xs:attribute ref="fieldStyle"/>
    <xs:attribute ref="fieldClass"/>
    <xs:attribute ref="style"/>
    <xs:attribute ref="class"/>
    <xs:attribute ref="enableFocusHintDisplay"/>
    <xs:attribute ref="widget"/>
    <xs:attribute ref="action-context"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="zzz-action-out-attr-grp">
    <xs:attribute ref="widget"/>
    <xs:attribute ref="prompt"/>
    <xs:attribute ref="prompt-buffer"/>
    <xs:attribute ref="prompt-buffer-attach"/>
    <xs:attribute ref="prompt-short"/>
    <xs:attribute ref="prompt-short-buffer"/>
    <xs:attribute ref="prompt-short-buffer-attach"/>
    <xs:attribute ref="hint"/>
    <xs:attribute ref="hintTitle"/>
    <xs:attribute ref="hint-url"/>
    <xs:attribute ref="hint-buffer"/>
    <xs:attribute ref="hint-buffer-attach"/>
    <xs:attribute ref="promptClass"/>
    <xs:attribute ref="promptStyle"/>
    <xs:attribute ref="actionClass"/>
    <xs:attribute ref="actionStyle"/>
    <xs:attribute ref="fieldStyle"/>
    <xs:attribute ref="fieldClass"/>
    <xs:attribute ref="style"/>
    <xs:attribute ref="class"/>
    <xs:attribute ref="image"/>
    <xs:attribute ref="image-xpath"/>
    <xs:attribute ref="imageUrl"/>
    <xs:attribute ref="run"/>
    <xs:attribute ref="mode"/>
    <xs:attribute ref="subject"/>
    <xs:attribute ref="href"/>
    <xs:attribute ref="enableFocusHintDisplay"/>
    <xs:attribute ref="accessiblePrompt"/>
    <xs:attribute ref="actionType"/>
    <xs:attribute ref="downloadFileName"/>
    <xs:attribute ref="downloadAsAttachment"/>
    <xs:attribute ref="namespacePreference"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="zzz-action-attr-grp">
    <xs:attributeGroup ref="zzz-action-out-attr-grp"/>
    <xs:attribute ref="displayOrder"/>
    <xs:attribute ref="displayBefore"/>
    <xs:attribute ref="displayAfter"/>
    <xs:attribute ref="confirm"/>
    <xs:attribute ref="ro"/>
    <xs:attribute ref="defaultAction"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="zzz-schema-element-attr-grp">
    <xs:attribute ref="edit"/>
    <xs:attribute ref="ro"/>
    <xs:attribute ref="run"/>
    <xs:attribute ref="displayOrder"/>
    <xs:attribute ref="displayBefore"/>
    <xs:attribute ref="displayAfter"/>
    <xs:attribute ref="prompt"/>
    <xs:attribute ref="prompt-buffer"/>
    <xs:attribute ref="prompt-buffer-attach"/>
    <xs:attribute ref="prompt-short"/>
    <xs:attribute ref="prompt-short-buffer"/>
    <xs:attribute ref="prompt-short-buffer-attach"/>
    <xs:attribute ref="image"/>
    <xs:attribute ref="image-xpath"/>
    <xs:attribute ref="imageUrl"/>
    <xs:attribute ref="action"/>
    <xs:attribute ref="emptyText"/>
    <xs:attribute ref="fieldWidth"/>
    <xs:attribute ref="file-storage-location"/>
    <xs:attribute ref="hint"/>
    <xs:attribute ref="linkTitle"/>
    <xs:attribute ref="linkType"/>
    <xs:attribute ref="hintTitle"/>
    <xs:attribute ref="hint-url"/>
    <xs:attribute ref="hint-buffer"/>
    <xs:attribute ref="hint-buffer-attach"/>
    <xs:attribute ref="init-db-interface"/>
    <xs:attribute ref="init-query"/>
    <xs:attribute ref="init-xpath"/>
    <xs:attribute ref="actionClass"/>
    <xs:attribute ref="actionStyle"/>
    <xs:attribute ref="mandatoryClass"/>
    <xs:attribute ref="mandatoryStyle"/>
    <xs:attribute ref="promptStyle"/>
    <xs:attribute ref="promptClass"/>
    <xs:attribute ref="nestedClass"/>
    <xs:attribute ref="nestedStyle"/>
    <xs:attribute ref="nestedFormClass"/>
    <xs:attribute ref="nestedFormStyle"/>
    <xs:attribute ref="topLevelFormClass"/>
    <xs:attribute ref="topLevelFormStyle"/>
    <xs:attribute ref="nestedTableClass"/>
    <xs:attribute ref="nestedTableStyle"/>
    <xs:attribute ref="nestedListClass"/>
    <xs:attribute ref="nestedListStyle"/>
    <xs:attribute ref="cellClass"/>
    <xs:attribute ref="cellStyle"/>
    <xs:attribute ref="fieldCellClass"/>
    <xs:attribute ref="fieldCellStyle"/>
    <xs:attribute ref="formCellClass"/>
    <xs:attribute ref="formCellStyle"/>
    <xs:attribute ref="listCellClass"/>
    <xs:attribute ref="listCellStyle"/>
    <xs:attribute ref="formStyle"/>
    <xs:attribute ref="formClass"/>
    <xs:attribute ref="listStyle"/>
    <xs:attribute ref="listClass"/>
    <xs:attribute ref="listRowClass"/>
    <xs:attribute ref="listRowStyle"/>
    <xs:attribute ref="fieldStyle"/>
    <xs:attribute ref="fieldClass"/>
    <xs:attribute ref="keyStyle"/>
    <xs:attribute ref="keyClass"/>
    <xs:attribute ref="style"/>
    <xs:attribute ref="class"/>
    <xs:attribute ref="responsiveList"/>
    <xs:attribute ref="promptLayout"/>
    <xs:attribute ref="map-set"/>
    <xs:attribute ref="map-set-attach"/>
    <xs:attribute ref="validate-map-set"/>
    <xs:attribute ref="validate-map-set-msg"/>
    <xs:attribute ref="validate-xpath"/>
    <xs:attribute ref="validate-xpath-msg"/>
    <xs:attribute ref="validate-general-msg"/>
    <xs:attribute ref="validate-pattern-msg"/>
    <xs:attribute ref="validate-when"/>
    <xs:attribute ref="widget"/>
    <xs:attribute ref="fieldMaxHeight"/>
    <xs:attribute ref="fieldMaxWidth"/>
    <xs:attribute ref="fieldMinHeight"/>
    <xs:attribute ref="fieldMinWidth"/>
    <xs:attribute ref="selector"/>
    <xs:attribute ref="flow"/>
    <xs:attribute ref="radio-group"/>
    <xs:attribute ref="radio-owner"/>
    <xs:attribute ref="fieldHeight"/>
    <xs:attribute ref="mand"/>
    <xs:attribute ref="mandatory"/>
    <xs:attribute ref="key-true"/>
    <xs:attribute ref="key-false"/>
    <xs:attribute ref="key-null"/>
    <xs:attribute ref="key-missing"/>
    <xs:attribute ref="key-unrecognised"/>
    <xs:attribute ref="navAction"/>
    <xs:attribute ref="error-url"/>
    <xs:attribute ref="error-url-prompt"/>
    <xs:attribute ref="href"/>
    <xs:attribute ref="email"/>
    <xs:attribute ref="subject"/>
    <xs:attribute ref="cc"/>
    <xs:attribute ref="clean"/>
    <xs:attribute ref="case"/>
    <xs:attribute ref="formatDate"/>
    <xs:attribute ref="inputMask"/>
    <xs:attribute ref="confirm"/>
    <xs:attribute ref="change-action"/>
    <xs:attribute ref="compare-id"/>
    <xs:attribute ref="upload-mode"/>
    <xs:attribute ref="upload-metadata"/>
    <xs:attribute ref="upload-window-type"/>
    <xs:attribute ref="upload-success-action"/>
    <xs:attribute ref="upload-fail-action"/>
    <xs:attribute ref="upload-complete-action"/>
    <xs:attribute ref="upload-file-type"/>
    <xs:attribute ref="upload-field-flow"/>
    <xs:attribute ref="upload-prompt"/>
    <xs:attribute ref="upload-view-prompt"/>
    <xs:attribute ref="upload-choose-prompt"/>
    <xs:attribute ref="upload-save-prompt"/>
    <xs:attribute ref="upload-enable-download"/>
    <xs:attribute ref="upload-enable-view"/>
    <xs:attribute ref="upload-enable-description"/>
    <xs:attribute ref="upload-button-flow"/>
    <xs:attribute ref="upload-button-position"/>
    <xs:attribute ref="upload-widget-style"/>
    <xs:attribute ref="uploadWholePageDropZone"/>
    <xs:attribute ref="uploadMaxFiles"/>
    <xs:attribute ref="image-only"/>
    <xs:attribute ref="image-enable-preview"/>
    <xs:attribute ref="image-enable-rotate"/>
    <xs:attribute ref="image-display-size"/>
    <xs:attribute ref="image-display-width"/>
    <xs:attribute ref="image-display-height"/>
    <xs:attribute ref="spatial-definition"/>
    <xs:attribute ref="spatial-interface"/>
    <xs:attribute ref="canvas-cache-key"/>
    <xs:attribute ref="canvas-callback-action"/>
    <xs:attribute ref="menuClass" use="optional"/>
    <xs:attribute ref="menuStyle" use="optional"/>
    <xs:attribute ref="menuType" use="optional"/>
    <xs:attribute ref="action-context"/>
    <xs:attribute ref="phantom-menu-mode"/>
    <xs:attribute ref="phantom-data-xpath"/>
    <xs:attribute ref="phantom-buffer"/>
    <xs:attribute ref="phantom-buffer-attach"/>
    <xs:attribute ref="emptyListBuffer"/>
    <xs:attribute ref="emptyListBufferAttach"/>
    <xs:attribute ref="placeholder"/>
    <xs:attribute ref="searchDisplayHierarchy"/>
    <xs:attribute ref="searchIndentMultiplier"/>
    <xs:attribute ref="searchSuggestionWidth"/>
    <xs:attribute ref="searchSuggestionMaxWidth"/>
    <xs:attribute ref="searchSuggestionMaxHeight"/>
    <xs:attribute ref="searchCaseSensitive"/>
    <xs:attribute ref="searchCharacterThreshold"/>
    <xs:attribute ref="searchTypingTimeout"/>
    <xs:attribute ref="searchSortedOutput"/>
    <xs:attribute ref="searchNoSuggestionsText"/>
    <xs:attribute ref="searchEmptySuggestionsText"/>
    <xs:attribute ref="searchLimitedSuggestionsText"/>
    <xs:attribute ref="searchMandatorySelection"/>
    <xs:attribute ref="searchFreeTextInput"/>
    <xs:attribute ref="searchFreeTextInputMessage"/>
    <xs:attribute ref="searchFreeTextSuggest"/>
    <xs:attribute ref="searchClearFilterOnBlur"/>
    <xs:attribute ref="autoResize"/>
    <xs:attribute ref="autoResizeMaxHeight"/>
    <xs:attribute ref="htmlWidgetConfig"/>
    <xs:attribute ref="collapseColumns"/>
    <xs:attribute ref="hasContent"/>
    <xs:attribute ref="client-visibility-rule" use="optional"/>
    <xs:attribute ref="client-visibility-rule-value" use="optional"/>
    <xs:attribute ref="client-visibility-rule-target" use="optional"/>
    <xs:attribute ref="tightField"/>
    <xs:attribute ref="fieldSpan"/>
    <xs:attribute ref="promptSpan"/>
    <xs:attribute ref="offsetSpan"/>
    <xs:attribute ref="rowBreak"/>
    <xs:attribute ref="rowBreakBefore"/>
    <xs:attribute ref="rowBreakAfter"/>
    <xs:attribute ref="formColumns"/>
    <xs:attribute ref="mandatoryDisplay"/>
    <xs:attribute ref="mandatoryText"/>
    <xs:attribute ref="optionalText"/>
    <xs:attribute ref="accessiblePrompt"/>
    <xs:attribute ref="itemsPerRow"/>
    <xs:attribute ref="defaultAction"/>
    <xs:attribute ref="enableFocusHintDisplay"/>
    <xs:attribute ref="namespacePreference"/>
    <xs:attribute ref="suppressUnselected"/>
    <xs:attribute ref="description"/>
    <xs:attribute ref="descriptionDisplay"/>
    <xs:attribute ref="descriptionLayout"/>
    <xs:attribute ref="description-buffer"/>
    <xs:attribute ref="description-buffer-attach"/>
    <xs:attribute ref="downloadAsAttachment"/>
    <xs:attribute ref="actionType"/>
    <xs:attribute ref="downloadFileName"/>
    <xs:attribute ref="reverseBooleanOrder"/>
    <xs:attribute ref="descriptionDisplayMode"/>
    <xs:attribute ref="hintDisplayMode"/>
    <xs:attribute ref="mandatoryDisplayMode"/>
    <xs:attribute ref="renderType"/>
    <xs:attribute ref="forceVisible" use="optional"/>
    <xs:attribute ref="formList"/>
    <xs:attribute ref="fieldPrefix"/>
    <xs:attribute ref="fieldSuffix"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="zzz-cellmate-attr-grp">
    <xs:attribute ref="cellmateKey"/>
    <xs:attribute ref="prompt"/>
    <xs:attribute ref="prompt-buffer"/>
    <xs:attribute ref="prompt-buffer-attach"/>
    <xs:attribute ref="fieldSpan"/>
    <xs:attribute ref="promptSpan"/>
    <xs:attribute ref="offsetSpan"/>
    <xs:attribute ref="rowBreak"/>
    <xs:attribute ref="rowBreakBefore"/>
    <xs:attribute ref="rowBreakAfter"/>
    <xs:attribute ref="formColumns"/>
    <xs:attribute ref="cellmateClass"/>
    <xs:attribute ref="cellmateStyle"/>
    <xs:attribute ref="promptClass"/>
    <xs:attribute ref="promptStyle"/>
    <xs:attribute ref="hasContent"/>
    <xs:attribute ref="descriptionDisplayMode"/>
    <xs:attribute ref="hintDisplayMode"/>
    <xs:attribute ref="mandatoryDisplayMode"/>
  </xs:attributeGroup>
  <!--ITEM GROUP SELECTION LEVELS-->
  <xs:attribute name="view" type="fox-xpath-boolean"/>
  <xs:attribute name="mode" type="fox-xpath-boolean"/>
  <!--ITEM ACCESS PRIVILEGES-->
  <xs:attribute name="edit" type="fox-xpath-boolean"/>
  <xs:attribute name="run" type="fox-xpath-boolean"/>
  <xs:attribute name="ro" type="fox-xpath-boolean"/>
  <!-- SCHEMA ELEMENT DISPLAY ATTRIBUTES-->
  <xs:attribute name="widget">
    <xs:annotation>
      <xs:documentation>The presentation widget</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="button"/>
        <xs:enumeration value="button+"/>
        <xs:enumeration value="captcha"/>
        <xs:enumeration value="cartographic"/>
        <xs:enumeration value="date"/>
        <xs:enumeration value="date+"/>
        <xs:enumeration value="datetime"/>
        <xs:enumeration value="datetime+"/>
        <xs:enumeration value="file"/>
        <xs:enumeration value="file-new"/>
        <xs:enumeration value="file-upload"/>
        <xs:enumeration value="html"/>
        <xs:enumeration value="html+"/>
        <xs:enumeration value="image"/>
        <xs:enumeration value="input"/>
        <xs:enumeration value="input+"/>
        <xs:enumeration value="link"/>
        <xs:enumeration value="link+"/>
        <xs:enumeration value="mailto"/>
        <xs:enumeration value="password"/>
        <xs:enumeration value="print"/>
        <xs:enumeration value="radio"/>
        <xs:enumeration value="selector"/>
        <xs:enumeration value="selector+"/>
        <xs:enumeration value="search-selector"/>
        <xs:enumeration value="static-text"/>
        <xs:enumeration value="tickbox"/>
        <xs:enumeration value="timer+"/>
        <xs:enumeration value="url"/>
        <xs:enumeration value="url-btn"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="action" type="entered-string">
    <xs:annotation>
      <xs:documentation>The name of an action to run if the field is runnable</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="action-context" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Sets :{action} to the node specified by this XPath</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="defaultAction" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Indicates the action is the default for the form and should be run if the Enter key is pressed.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="change-action" type="entered-string">
    <xs:annotation>
      <xs:documentation>Fires an action when a piece of data changes</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="confirm" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Message displayed in a browser confirm dialog box before an action is run</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="actionType">
    <xs:annotation>
      <xs:documentation>Controls how the action is invoked by the user. "Churn" results in a form post. "Download" displays a download link directly to a file. The invoked action must result in a download being generated.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="churn"/>
        <xs:enumeration value="download"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="emptyText" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Text to show when this field is set out as a readonly text field with no text content</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="placeholder" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Text to put as placeholder in the input</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="map-set" type="entered-string">
    <xs:annotation>
      <xs:documentation>The name of a map-set definition to convert key/value data with and populate selector/tickbox/radio options</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="map-set-attach" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Sets the context :{map-set-attach} to the XPath specified by this attribute.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="selector" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>XPath targeting one nested node which specifies cardinality generator for multi-select map-set widgets.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="radio-owner" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>XPATH expression that locates an element that when common with another radio item, and the same radio-group label is in use, the item joins the logical radio set. The default is "." indicating the current record. This allows radio groups to be defined across records (i.e. within a common parent or super-parent list e.g. ".."  See also radio-group.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="radio-group" type="entered-string">
    <xs:annotation>
      <xs:documentation>Label string that associates distinct items to form a logical radio group. This default value is the absolute path of the item in the schema definition. This attribute allows radio groups to be defined across items. When used with radio-owner, across records can also be acheived. See also radio-owner.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="key-true" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>The display key for true in boolean selector widgets. Default to Yes</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="key-false" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>The display key for false in boolean selector widgets. Defaults to No.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="key-null" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>The display key for null content selector widgets. Defaults to None. This is only used for optional elements. Mand elements use key-missing.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="key-missing" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>The display key for null content selector widgets. Defaults to Select One|Many. This is only used for mand elements. Optinal elements use key-null.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="key-unrecognised" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>The display key for unrecognised content selector widgets. Defaults to content string (if simple) otherwise Unrecognised.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="suppressUnselected" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath boolean. If true, multi-select widgets will not show unselected options when in read only mode. Default is false.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchDisplayHierarchy" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath bool whether to show indented suggestion lists</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchIndentMultiplier" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How much to indent each item by in the hierarchical suggestion list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchSuggestionWidth" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Hard width for the suggestions list specified just as number, engine turns to em</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchSuggestionMaxWidth" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Max width for the suggestions list specified just as number, engine turns to em</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchSuggestionMaxHeight" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Max height for the suggestions list specified just as number, engine turns to em</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchCaseSensitive" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath bool for case sensitive searching</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchCharacterThreshold" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Number of character to enter before searching</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchTypingTimeout" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Time in milliseconds to wait after a key press before filtering results</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchSortedOutput" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath bool for sorting the suggestion list in mapset order. You might want to set this to false to improve performance on large mapsets</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchNoSuggestionsText" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Text to display when filter text returns 0 results</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchEmptySuggestionsText" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Text to display when all suggestable items are already selected</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchLimitedSuggestionsText" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Text to display when all AJAX results were limited server side</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchMandatorySelection" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath bool for disabling the search (type/show prediction) functionality of the search-selector and disables the "x" (remove) button when in single selection mode. This allows us to reuse the nicer (HTML) output functionality of the widget while preserving legacy drop-down behaviour (such as having fox:key-null). This will become unnecessary when all browsers we aim to support can cope with native placeholder text.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchFreeTextInput" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath bool for enabling free text input into the search selector</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchFreeTextInputMessage" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Text to display as a hint next to the value they've typed to let them know it will be added as a new option</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchFreeTextSuggest" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Allow showing of previously-selected free text items in the suggestions</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="searchClearFilterOnBlur" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Clear any text left over in the filter input when the field loses focus</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="linkTitle" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Value to use as the title attribute on a link when the field is using the link widget</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="linkType">
    <xs:annotation>
      <xs:documentation>What kind of link a url widget should have, either a regular pass through of the href attribute or a js wrapper to open it as a popup</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="non-js"/>
        <xs:enumeration value="appwin"/>
        <xs:enumeration value="searchwin"/>
        <xs:enumeration value="filewin"/>
        <xs:enumeration value="fullwin"/>
        <xs:enumeration value="refwin"/>
        <xs:enumeration value="helpwin"/>
        <xs:enumeration value="flushwin"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="prompt" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Value to use as the prompt for this field in form set-out</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="prompt-buffer" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Buffer name to use in place of prompt</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="prompt-buffer-attach" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Attach point to use when evaluating the prompt-buffer</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="prompt-short" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Value to use in column headers when this field is in a list set-out or as a backup when prompt is not defined for regular fields</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="prompt-short-buffer" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Buffer name to use in place of prompt-short</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="prompt-short-buffer-attach" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Attach point to use when evaluating the prompt-short-buffer</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="accessiblePrompt" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>String to use explaining the field to aid accessibility tool users</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="promptLayout" type="layout-direction-prompt" default="west">
    <xs:annotation>
      <xs:documentation>Where to display the prompt relative to the field it's for. Either above (north) or to the left (west)</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldMinWidth" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Minimum characters wide the field should be when displayed not with 100% width</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldMinHeight" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Minimum rows of text high the field should be</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldWidth" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How many characters wide the field should be when displayed not with 100% width</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldHeight" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How many rows of text high the field should be</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldMaxWidth" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Maximum characters wide the field should be when displayed not with 100% width</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldMaxHeight" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Maximum rows of text high the field should be</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="autoResize" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Make the widget to resize itself to fit the contents</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="autoResizeMaxHeight" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Limit the height a widget can expand to in pixels</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="formColumns" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How many columns there are in the form set-out. Currently capped at 12.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldSpan" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How many columns of formColumns the widget part of the input takes up (not including the prompt)</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="promptSpan" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How many columns of formColumns the prompt part of the input takes up (not including the widget)</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="offsetSpan" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How many columns of formColumns should the element be offset by inserting an empty column before that spans offsetSpan columns</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="tightField" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Add the tight-field CSS class to the widget so CSS can style its width to be auto instead of 100%</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="itemsPerRow" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>How many columns of radio/checbox widgets to display</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="rowBreak">
    <xs:annotation>
      <xs:documentation>Should this element force a new row in form set-out before this widget (including prompt), after, or both (to force it on its own row)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="before"/>
        <xs:enumeration value="after"/>
        <xs:enumeration value="both"/>
        <xs:enumeration value="none"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="rowBreakBefore" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Should this element force a new row in form set-out before this widget (including prompt)</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="rowBreakAfter" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Should this element force a new row in form set-out after this widget</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="displayOrder" type="fox-xpath-number">
    <xs:annotation>
      <xs:documentation>Number or XPath of number to use when comparing to other elements with a displayOrder to define the order elements are displayed in</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="displayBefore" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>String or XPath string of sibling element name for the element to display before</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="displayAfter" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>String or XPath string of sibling element name for the element to display after</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="hint" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Value to use as the hint for this field in form set-out</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="hintTitle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Value to use as the hint title for this field in form set-out</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="hint-url" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>URL to use if you want the hint icon itself to be clickable</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="hint-buffer" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Buffer name to use for hint content</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="hint-buffer-attach" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Attach point to use when evaluating the hint-buffer</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="description" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Description for the field, typically a short piece of guidance which can be expanded on using a hint if necessary.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="description-buffer" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Buffer name to use for description content</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="description-buffer-attach" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Attach point to use when evaluating the description-buffer</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="descriptionDisplay" default="inline">
    <xs:annotation>
      <xs:documentation>Controls how the field description is displayed.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="icon"/>
        <xs:enumeration value="inline"/>
        <xs:enumeration value="none"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="descriptionLayout" type="layout-direction-description" default="south">
    <xs:annotation>
      <xs:documentation>Controls where description is displayed, south or north of the field.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mand" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Item is mandatory, default is not mandatory.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mandatory" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Item is mandatory, default is not mandatory.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="validate-map-set" type="yn-flag">
    <xs:annotation>
      <xs:documentation>This is only relevent when map-set specified, and ensures selected (or entered) values match values in the map-set. Default is Y.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="validate-xpath" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>An XPATH expression which is evaluated as boolean(XPATH) , and must return true for validation to be successful.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="validate-xpath-msg" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>The prefix error text used when validate-xpath returns false. Default is "Invalid {prompt}".</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="validate-map-set-msg" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>The prefix error text used when map-set validation violation occurs. Default is "Invalid {prompt}".</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="validate-general-msg" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>The prefix error text used for general validation violation occurs. "validate-map-set-msg" and "validate-xpath-msg" are used in preference for those types of error. Overrides system generated default of "Invalid {prompt}". </xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="validate-pattern-msg">
    <xs:annotation>
      <xs:documentation>The prefix error text used when pattern validation fails. Default is "Entry is in an incorrect format"</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="validate-when" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath boolean. If true, the node will be validated by XPath commands. Default is true if unspecified.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="error-url-prompt" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Text to use when generating a link at the end of an error message taking users to the URL specified in error-url, defaults to 'Read more...'</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="error-url" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>When an error occurs a link can be displayed at the end of the error text with this URL</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="navAction" type="entered-string">
    <xs:annotation>
      <xs:documentation>The action that navigates to the screen to edit the value if an error occurs</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="forceVisible" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Allows the columns headings to be hidden when a list set-out has no rows</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="init-db-interface" type="entered-string">
    <xs:annotation>
      <xs:documentation>The name of a FOX module DB Interface used to initialise a node.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="init-query" type="entered-string">
    <xs:annotation>
      <xs:documentation>The name of a FOX module DB Interface Query used to initialise a node.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="init-xpath" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>An XPath expression that will be used to initialise a node.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="debug" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Display debug information for this field when output generator runs</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="flow">
    <xs:annotation>
      <xs:documentation>Sets direction for items to be set out</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="across"/>
        <xs:enumeration value="down"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="menuClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute on the menu-out element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="menuStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute on the menu-out element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="menuType">
    <xs:annotation>
      <xs:documentation>Display debug information for this field when output generator runs</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="standard"/>
        <xs:enumeration value="popover"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="class" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="style" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="promptClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute of the prompt container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="promptStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute of the prompt container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute of the field element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute of the field element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="cellmateClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute of the cellmate container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="cellmateStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute of the cellmate container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="formClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute of the form container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="formStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute of the form container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="listClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute of the list container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="listStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute of the list container element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="listRowClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute of the list row element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="listRowStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute of the list row element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="responsiveList" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Add a responsiveList class to the list container and add data-title attributes to each cell with the column prompt. CSS can then make this look good on small screens where tables don't usually respond well</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute only when this element is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute only when this element is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedFormClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute only when this form is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedFormStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute only when this form is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedTableClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute only when this list is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedTableStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute only when this list is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedListClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute only when this list is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="nestedListStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute only when this list is being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="topLevelFormClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute only when this form is not being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="topLevelFormStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute only when this form is not being set out nested in another form/list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="cellClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute to the containing element of the prompt/field for this element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="cellStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute to the containing element of the prompt/field for this element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldCellClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute to the containing element of the field for this element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldCellStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute to the containing element of the field for this element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="formCellClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute to the containing element of the prompt/field for this element only when set out in a form</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="formCellStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute to the containing element of the prompt/field for this element only when set out in a form</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="listCellClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute to the containing element of the prompt/field for this element only when set out in a list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="listCellStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute to the containing element of the prompt/field for this element only when set out in a list</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mandatoryClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute to the containing element of the mandatory/optional text</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mandatoryStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute to the containing element of the mandatory/optional text</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="keyClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute to the containing element of the mapset key text</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="keyStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute to the containing element of the mapset key text</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="actionClass" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the class attribute to the field if the widget type is an Action type</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="actionStyle" type="fox-optional-xpath-string">
    <xs:annotation>
      <xs:documentation>Add this string to the style attribute to the field if the widget type is an Action type</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="href" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Set the location a URL widget should take you to</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="email" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Pre-define an email recipient to go into the mailto link when using the mailto widget</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="subject" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Pre-define a subject to go into the mailto link when using the mailto widget</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="cc" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Pre-define a CSV List of email addresses when using the mailto widget</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="clean">
    <xs:annotation>
      <xs:documentation>Data can have whitespace trimmed, or not, when going into/out of the DOM</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="trim"/>
        <xs:enumeration value="no-trim"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="case">
    <xs:annotation>
      <xs:documentation>Data can have its case changed when going into/out of the DOM</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="upper"/>
        <xs:enumeration value="lower"/>
        <xs:enumeration value="initCap"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="formatDate" type="xs:string">
    <xs:annotation>
      <xs:documentation>Data can have a custom date format applied (or default if this attribute is empty), when going into/out of the DOM</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="inputMask">
    <xs:annotation>
      <xs:documentation>Data can have commas added if it's marked as an xs:Decimal type, when going into/out of the DOM</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="commas"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="client-visibility-rule" type="xs:string"/>
  <xs:attribute name="client-visibility-rule-value" type="xs:string"/>
  <xs:attribute name="client-visibility-rule-target" type="xs:string"/>
  <xs:attribute name="spatial-definition" type="xs:string"/>
  <xs:attribute name="spatial-interface" type="xs:string"/>
  <xs:attribute name="canvas-callback-action" type="xs:string"/>
  <xs:attribute name="canvas-cache-key" type="xs:string"/>
  <xs:attribute name="htmlWidgetConfig">
    <xs:annotation>
      <xs:documentation>HTML Widget configuration</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="standard"/>
        <xs:enumeration value="expanded"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="layoutMethod" type="fox-xpath-type">
    <xs:annotation>
      <xs:documentation>Layout method to use when doing a form set-out. Currently there is 'form' and 'test'.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="formList" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>If this is set to true lists will set out a list of form set-outs for each row instead of displaying the data in a table</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="collapseColumns" type="fox-xpath-type">
    <xs:annotation>
      <xs:documentation>XPath boolean to determine a list set-out should hide empty columns, where empty means there's no value in the dom for any row or hasContent is set to false.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="hasContent" type="fox-xpath-type">
    <xs:annotation>
      <xs:documentation>XPath boolean to determine if this column should be shown when collapseColumns is enabled.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mandatoryText" type="entered-string">
    <xs:annotation>
      <xs:documentation>Text to show when an element is mand/mandatory and mandatoryDisplay is "both" or "mandatory". Default is "*"</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="optionalText" type="entered-string">
    <xs:annotation>
      <xs:documentation>Text to show when an element is not mand/mandatory and mandatoryDisplay is "both" or "optional"</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mandatoryDisplay">
    <xs:annotation>
      <xs:documentation>Should the set-out display mandatoryText, optionalText, both or none next to elements as appropriate. Default is "mandatory"</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="mandatory"/>
        <xs:enumeration value="optional"/>
        <xs:enumeration value="both"/>
        <xs:enumeration value="none"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="phantom-data-xpath" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>XPath to another element to set out (read only mode only) in place of this phantom element</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="phantom-menu-mode" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>XPath to decide if the namespace the attribute is under is used for a phantom-menu.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="phantom-buffer" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Displays a named buffer in context of the phantom element.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="phantom-buffer-attach" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Attach point to use when evaluating the phantom-buffer.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="emptyListBuffer" type="fox-xpath-string">
    <xs:annotation>
      <xs:documentation>Name of a buffer to display in place of a list when the list has 0 rows inside it.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="emptyListBufferAttach" type="fox-xpath-dom">
    <xs:annotation>
      <xs:documentation>Attach point to use when evaluating the empty list buffer.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="enableListsInForms" type="xs:boolean" default="false">
    <xs:annotation>
      <xs:documentation>Show lists that are nested under forms. FOX4 didn't allow this but FOX5 can.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="enableFocusHintDisplay" type="xs:boolean" default="false">
    <xs:annotation>
      <xs:documentation>Enable showing of hints when fields get focus instead of only when using the mouse to hover the hint icon</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="namespacePreference" type="fox-xpath-type">
    <xs:annotation>
      <xs:documentation>Which namespaces, if enabled, should be checked first when looking for attributes. This attribute should be prefixed with the fox namespace only</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="cellmateKey" type="entered-string">
    <xs:annotation>
      <xs:documentation>You can set this to '.' if you want a key to be auto-generated or manually set a key to display to aid in debugging issues with cellmates, can be used to have multiple cellmate sequences defined separately aggregate into one wherever the first one is defined</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="downloadAsAttachment" type="fox-xpath-type">
    <xs:annotation>
      <xs:documentation>Controls whether the download from a file widget is served as an attachment (i.e. user is prompted with a 'Save As...' dialog) or not (i.e. the browser will attempt to open the file directly). Default is true.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="downloadFileName" type="entered-string">
    <xs:annotation>
      <xs:documentation>XPath to determine a filename to be appended to a download link URL when actionType = "download". This is used to help some browsers determine the name of a downloaded file.</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="reverseBooleanOrder" type="fox-xpath-boolean">
    <xs:annotation>
      <xs:documentation>Controls whether the true/false values should be reversed for display of a xs:boolean field - i.e. false before true (the default is always true before false). Must be an XPath that resolves to true (i.e. "true()" or ".").</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="descriptionDisplayMode" type="display-mode-enum" default="always">
    <xs:annotation>
      <xs:documentation>Control when to show the description based on the element's visibility level (ro/edit)</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="hintDisplayMode" type="display-mode-enum" default="always">
    <xs:annotation>
      <xs:documentation>Control when to show the hint based on the element's visibility level (ro/edit)</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="mandatoryDisplayMode" type="display-mode-enum" default="edit">
    <xs:annotation>
      <xs:documentation>Control when to show the mandatory display based on the element's visibility level (ro/edit)</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="default-item-widget"/>
  <xs:attribute name="default-selector-widget"/>
  <xs:attribute name="default-date-widget"/>
  <xs:attribute name="default-widget"/>
  <xs:attribute name="upload-mode">
    <xs:annotation>
      <xs:documentation>The upload mode for a file upload. Interruption refers to whether the base page sends a signal to the upload window to terminate the upload in the event of a module push or pop. Interruption can only be disabled when the upload target is a DOM in a storage location (i.e. root).</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="interrupt-on-module-push-pop-upload-target-any"/>
        <xs:enumeration value="no-interrupt-upload-target-storage-location"/>
        <xs:enumeration value="no-interrupt-modal-upload-window"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="upload-metadata">
    <xs:annotation>
      <xs:documentation>Choose the type of metadata inserted into the DOM on completion of an upload. 'Basic' stores metadata about the last successful upload. 'Diagnostic' additionally provides information about the latest upload attempt, regardless of its status. Default is basic.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="basic"/>
        <xs:enumeration value="diagnostic"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="upload-success-action" type="xs:string"/>
  <xs:attribute name="upload-fail-action" type="xs:string"/>
  <xs:attribute name="upload-complete-action" type="xs:string"/>
  <xs:attribute name="upload-file-type" type="xs:string"/>
  <xs:attribute name="upload-enable-download" type="xs:string"/>
  <xs:attribute name="upload-enable-view" type="xs:string"/>
  <xs:attribute name="upload-enable-description" type="xs:string"/>
  <xs:attribute name="upload-window-type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="modal"/>
        <xs:enumeration value="modeless"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="upload-prompt"/>
  <xs:attribute name="upload-view-prompt"/>
  <xs:attribute name="upload-choose-prompt"/>
  <xs:attribute name="upload-save-prompt"/>
  <xs:attribute name="upload-field-flow" default="horizontal">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="horizontal"/>
        <xs:enumeration value="vertical"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="upload-button-flow" default="horizontal">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="horizontal"/>
        <xs:enumeration value="vertical"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="upload-button-position" default="south">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="north"/>
        <xs:enumeration value="south"/>
        <xs:enumeration value="east"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="upload-widget-style" type="xs:string"/>
  <xs:attribute name="uploadWholePageDropZone" type="entered-string"/>
  <xs:attribute name="uploadMaxFiles" type="entered-string"/>
  <xs:attribute name="image-only" type="fox-xpath-type"/>
  <xs:attribute name="image-enable-preview" type="fox-xpath-type"/>
  <xs:attribute name="image-enable-rotate" type="fox-xpath-type"/>
  <xs:attribute name="image-display-size" type="fox-xpath-type"/>
  <xs:attribute name="image-display-width" type="fox-xpath-type"/>
  <xs:attribute name="image-display-height" type="fox-xpath-type"/>
  <xs:attribute name="image"/>
  <xs:attribute name="image-xpath"/>
  <xs:attribute name="imageUrl"/>
  <xs:attribute name="file-storage-location">
    <xs:annotation>
      <xs:documentation>A storage location for any content that can be stored in a file.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:annotation>
        <xs:documentation>The storage location where the file resides.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="compare-id">
    <xs:annotation>
      <xs:documentation>Used with the fm:compare command</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="renderType" default="form">
    <xs:annotation>
      <xs:documentation>Controls how the field widget is displayed, for example whether tickboxes should appear ('form') or only the tickbox text should appear ('print').</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="entered-string">
        <xs:enumeration value="form"/>
        <xs:enumeration value="print"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="fieldPrefix">
    <xs:annotation>
      <xs:documentation>Text to display read-only before the field. Only show for single-line input/input+ widgets</xs:documentation>
    </xs:annotation>
  </xs:attribute>
  <xs:attribute name="fieldSuffix">
    <xs:annotation>
      <xs:documentation>Text to display read-only after the field. Only show for single-line input/input+ widgets</xs:documentation>
    </xs:annotation>
  </xs:attribute>
</xs:schema>
